.navbar{
  width: 100%;
  background: #631361;  /* dark plum */
  padding: 12px 40px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 3rem;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #ffdd57;
}
/* Contact Section */
.contact-section {
  padding: 120px 50px;
  text-align: center;
  background: #EEE6CA;
}

.contact-section h1 {
  color: #631361;
  font-size: 2.5em;
  margin-bottom: 10px;
}

.contact-section p {
  font-size: 1.1em;
  color: #4b3a54;
}

/* Contact Box Layout */
.contact-container {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 20px 60px;
}

/* Left Info Box */
.contact-info {
  background: #896C6C;
  padding: 30px;
  border-radius: 15px;
  color: #fff;
  text-align: left;
  box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}

.contact-info h2 {
  font-size: 22px;
  margin-bottom: 15px;
}

/* Contact Form */
.contact-form {
  background: #f7eaea;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.2);
  text-align: left;
}

.contact-form label {
  font-weight: bold;
  color: #631361;
  margin-top: 10px;
  display: block;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  margin: 8px 0 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 15px;
}

.contact-form textarea {
  height: 120px;
  resize: none;
}

.contact-form button {
  width: 100%;
  padding: 12px;
  background: #631361;
  color: #fff;
  border: none;
  border-radius: 12px;
  font-size: 18px;
  cursor: pointer;
}

.contact-form button:hover {
  background: #8f3d8c;
}
/* Footer */
footer {
  background: #631361;
  color: #fff;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}

